.categoryTitle {
    font-size: 40px;
    font-weight: bold;
    color: #5865F2;
    margin: 0;
}

.categoryTitle:hover {
    color: #EB459E;
    cursor: pointer;
}

.bounds {
    border: solid 1px black;
    padding-left: 1vw;
    /*padding-top: 0.2vw;*/
    /*padding-bottom: 0.5vw;*/
    margin: 0.5vw auto;
    max-width: 100%;
    align-content: center;
    background-color: #36393e;
    transition: all 0.15s;
    /*scroll-behavior: smooth;*/
}

.command {
    color: #EB459E;
    margin-left: 0vw;
    font-size: 25px;
}

.key {
    color: #ED4245;
    margin-left: 2vw;
    font-size: 23px;
}

.value {
    color: white;
    font-weight: lighter;
    /*margin-left: 2vw;*/
    font-size: 19px;
}

.usage {
    background-color: #424549;
}

.joined {
    margin-left: 69px;
}

.click2Exp {
    font-size: 12px;
    color: #EB459E;
    margin-left: 0.2vw;
    font-weight: lighter;
}