.bg {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.bg img {
    padding-top: 2%;
    margin: auto;
    max-width:54vw;
    max-height:55%;
    display: block;

}

.p1S1 {
    text-align:center;
    color: #FFFFFF;
    font-size: 20vw;
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
    margin: auto;
    width: 100%;
    text-shadow: black 0.2vw 0.2vw;
}

.p1S2 {
    text-align:center;
    color: #FFFFFF;
    font-size: 7vw;
    font-family: "sans-serif";
    margin: auto;
    width: 100%;
    text-shadow: black 0.12vw 0.12vw;
}

.header1 {
    position: sticky;
    padding: 0.0vw 0.0vw 0.4vw 0.0vw;
    background-color: #5865F2;
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-image: url("../images/c7c37dd6-8d36-492a-8c1e-90b52b45fe2e.png");*/
    width: 100%;
    margin: auto;
    text-align: center;
    border-radius:0.23em;
}

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    justify-content: center;
    font-family: 'Cyber', sans-serif;
    background: #424549;
}

a.button5 {
    display:inline-block;
    padding:0.4em 0em 0.2em;
    margin: auto 0.2vw;
    border-radius:0.23em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: 2vw;
    font-weight: 350;
    color: black;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    min-width: 19.5%;
    max-width: 98%;
    letter-spacing: 2px;
    white-space: nowrap;
}

a.button5:hover {
    color: white;
    background-color: #EB459E;
    border-color: black;
    font-weight: bold;
}

@media all and (max-width:30em) {
    a.button5 {
        display:block;
        margin:0.4em auto;
        font-size: 5vw;
        }
}

img.icon {
    transition: all 0.15s;
    display: flex;
    margin: auto;
    /*height: auto;*/
    max-height: 10vw;
}

a.discord {
    background-color: white;
}

a.gitlab {
    background-color: #6b4fbb;
}

a.support
a.white {
    background-color: white;
}

a.toggled {
    background-color: #EB459E;
}

a.toggled .img.icon {
    visibility: hidden;
}