@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #ffcab4;
	--color-primary-100: #ffb99c;
	--color-primary-200: #fca784;
	--color-primary-300: #f9966d;
	--color-primary-400: #f48355;
	--color-primary-500: #ee713e;
	--color-primary-600: #e85e28;
	--color-primary-700: #cc5323;
	--color-primary-800: #b04920;
	--color-primary-900: #96401d;

	--color-gray-*: initial;
	--color-gray-100: #bbb9b8;
	--color-gray-200: #878582;
	--color-gray-300: #74726f;
	--color-gray-400: #62605c;
	--color-gray-500: #514e4a;
	--color-gray-600: #403d39;
	--color-gray-700: #363430;
	--color-gray-800: #2d2b28;
	--color-gray-900: #24221f;

	--color-red-*: initial;
	--color-red-200: #FECACA;
	--color-red-300: #FCA5A5;
	--color-red-400: #F87171; 
	--color-red-500: #EF4444;
	--color-red-600: #DC2626;
	--color-red-700: #B91C1C;
	--color-red-800: #991B1B;
	--color-red-900: #7F1D1D;
}

@source "../node_modules/flowbite-svelte/dist";

@utility prose {
	--tw-prose-links: var(--color-primary-600);
	--tw-prose-body: var(--accent1);
	--tw-prose-body: var(--tw-prose-invert-body);
	--tw-prose-headings: var(--color-gray-100);
	--tw-prose-lead: var(--tw-prose-invert-lead);
	--tw-prose-bold: var(--tw-prose-invert-bold);
	--tw-prose-counters: var(--tw-prose-invert-counters);
	--tw-prose-bullets: var(--tw-prose-invert-bullets);
	--tw-prose-hr: var(--tw-prose-invert-hr);
	--tw-prose-quotes: var(--tw-prose-invert-quotes);
	--tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
	--tw-prose-captions: var(--tw-prose-invert-captions);
	--tw-prose-kbd: var(--tw-prose-invert-kbd);
	--tw-prose-kbd-shadows: var(--tw-prose-invert-kbd-shadow);
	--tw-prose-code: var(--tw-prose-invert-code);
	--tw-prose-pre-code: var(--tw-prose-invert-pre-code);
	--tw-prose-pre-bg: var(--tw-prose-invert-pre-bg);
	--tw-prose-td-borders: var(--tw-prose-invert-td-borders);
	--tw-prose-th-borders: var(--tw-prose-invert-th-borders);

	a {
		text-decoration: none !important;
	}
}

@layer components {
	:root {
		--background: var(--color-gray-800);
		--accent1: #ccc5b9;
		--accent2: var(--color-gray-600);
		--accent3: #fffcf2;
		--accent4: var(--color-primary-600);
		font-family: sans-serif;
	}

	body {
		background-color: var(--background);
		padding: 1px !important;
		overflow-y: auto; /* vertical scrollbar */
		overflow-x: hidden; /* horizontal scrollbar */
	}

	main {
		text-align: center;
		padding: 0.01em;
		max-width: none;
		margin: 0 auto;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--accent1);
	}

	img,
	svg,
	video,
	canvas,
	audio,
	iframe,
	embed,
	object {
		display: initial;
		vertical-align: initial;
	}

	.text-accent1 {
		color: var(--accent1);
	}

	.text-accent2 {
		color: var(--accent2);
	}

	.text-accent3 {
		color: var(--accent3);
	}

	.text-accent4 {
		color: var(--accent4);
	}

	.feature-block {
		margin-top: 3em;
		width: 35%;
		box-sizing: border-box;
		display: inline-block;
	}

	.active {
		display: none;
	}

	mark {
		color: var(--accent4);
		background-color: inherit;
	}

	a {
		text-decoration: none;
	}

	.grid a:hover,
	a[href="/"]:hover,
	#navigation a:hover {
		color: var(--accent4) !important;
	}

	button.layout,
	.signInButton > button:last-child {
		background-color: var(--accent2) !important;
		border: var(--accent2) 2px solid;
		color: var(--accent1) !important;
		text-shadow: var(--background) 2px !important;
		transition: 0.5s;
	}

	button:hover.layout,
	button[aria-current="true"],
	.signInButton > button:last-child:hover {
		cursor: pointer;
		background-color: var(--background) !important;
		color: var(--accent1) !important;
		border: var(--background) 2px solid;
		transform: scale(101%);
		transition: 0.1s;
		box-shadow: 0 4px var(--accent4);
	}

	button.invite_link {
		background-color: var(--accent4) !important;
		border: var(--accent4) 2px solid;
		color: var(--background) !important;
	}

	footer {
		color: var(--accent3);
		background: var(--accent2);
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		text-align: center;
	}

	.full-width {
		width: 100%;
	}

	.link_flex {
		flex-grow: 1;
		flex-basis: calc(100% / 7.3);
	}

	@media (max-width: 1024px) {
		.link_flex {
			flex-grow: 1;
			flex-basis: 100%;
		}

		.smol {
			flex-direction: column !important;
		}

		footer {
			display: none !important;
		}

		.indent {
			width: 10rem;
		}
	}

	@media (max-width: 768px) {
		.smol-bottom {
			grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
			justify-items: flex-start !important;
		}
	}

	@media (min-width: 1024px) {
		.indent {
			min-width: 10rem;
			max-width: 20rem;
		}
	}

	.indent {
		background-color: var(--accent2);
		padding: 1rem;
		flex: 1 0 12.5%;
		flex-direction: column;
		overflow: hidden;
	}

	.userRole {
		background-color: var(--accent2);
		padding: 1rem;
		min-width: 10rem;
		max-width: 42.5rem;
	}

	.signInButton > button:last-child {
		padding: 0.5rem;
	}

	.big_title,
	.small_title {
		transition:
			transform 0.5s ease,
			opacity 0.5s ease;
	}
}
